<div class="form-group">
  <input
    type="{{ type }}"
    [formControl]="ngControl?.control"
    placeholder="{{ label }}"
    class="form-control"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
  />
  <div class="invalid-feedback" *ngIf="ngControl.control?.errors?.required">
    Please enter {{ label }}
  </div>
  <div class="invalid-feedback" *ngIf="ngControl.control?.errors?.minlength">
    {{ label }} must be atleast
    {{ ngControl.control?.errors?.minlength["requiredLength"] }}
  </div>
  <div class="invalid-feedback" *ngIf="ngControl.control?.errors?.isMatching">
    Passwords do not match
  </div>
</div>
