.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.custom-alignment{
    margin-top: 8px;
    margin-left: 6px;
}

img{
    max-height: 50px;
    border: 2px solid grey;
    display: inline;
}