<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Journalist Rating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/media" routerLinkActive="active"
            >About
          </a>
        </li>
        <ng-container *ngIf="authenticationService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/media" routerLinkActive="active"
              >Media
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/journalists"
              routerLinkActive="active"
              >Journalists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/topic" routerLinkActive="active"
              >Topic</a
            >
          </li>
        </ng-container>
      </ul>

      <div
        class="dropdown"
        *ngIf="authenticationService.currentUser$ | async"
        dropdown
      >
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <form
        #searchForm="ngForm"
        class="form-inline mt-2 mt-md-0"
        (ngSubmit)="login()"
        autocomplete="off"
        *ngIf="
          (authenticationService.currentUser$ | async) === null ||
          (authenticationService.currentUser$ | async) === undefined
        "
      >
        <input
          name="UserName"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
          [(ngModel)]="model.username"
        />
        <input
          name="Password"
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
          [(ngModel)]="model.password"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
