<div class="row" *ngIf="journalist">
  <div class="col-4">
    <div class="card">
      <img
        src="{{ journalist.photoUrl || '../../../assets/images/arnab.jpg' }}"
        alt="blank image"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Name:</strong>
          <p>{{ journalist?.name }}</p>
        </div>
        <div>
          <strong>Rating:</strong>
          <p><i class="fa fa-star mr-2"></i> {{ journalist?.rating }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <div class="btn btn-primary">Rate Journalist</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="journalist-tabset">
      <tab heading="About {{ journalist?.name }}"
        ><div class="mt-2">
          {{ journalist?.description }}
        </div></tab
      >
      <tab heading="Media">
        <h4>Media</h4>
        <p>Media will go here</p>
      </tab>
      <tab heading="Ratings" (selectTab)="onSelectRating()">
        <div class="mt-2" *ngFor="let rating of ratingsByTopic">
          {{ rating.topicName }} -
          {{ rating.rating }}
          <rating
            [(ngModel)]="rating.rating"
            [max]="5"
            [readonly]="true"
          ></rating>
        </div>
      </tab>
    </tabset>
  </div>
</div>
