<form
  #journalistRatingForm="ngForm"
  (ngSubmit)="rateJournalist(journalistRatingForm)"
  class="form"
>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h2 class="text-center text-primary">Rate Journalist</h2>
      <hr />
      <div>
        <select
          class="form-control mb-2"
          [(ngModel)]="journalistRating.journalistId"
          name="selectJournalist"
        >
          <option
            *ngFor="let journalist of journalists"
            value="{{ journalist.journalistId }}"
            selected="{{
              journalist.journalistId == journalistRating.journalistId
            }}"
          >
            {{ journalist.name }}
          </option>
        </select>
      </div>
      <div>
        <select
          class="form-control"
          name="selectTopic"
          [(ngModel)]="journalistRating.topicId"
        >
          <option [selected]="true" value="-1">Select Topic</option>
          <option *ngFor="let topic of topics" value="{{ topic.topicId }}">
            {{ topic.name }}
          </option>
        </select>
      </div>
      <div class="form-group mt-2">
        Rate Here:
        <rating
          [(ngModel)]="rate"
          [max]="max"
          [readonly]="isReadonly"
          name="rating"
        ></rating>
      </div>

      <div class="form-group text-center">
        <button
          type="submit"
          name="submit"
          value="Submit"
          class="btn btn-success mr-2"
        >
          Rate Journalist
        </button>
        <button
          type="reset"
          name="Reset"
          value="Reset"
          class="btn btn-default mr-2 btn-reset"
        >
          Cancel
        </button>
      </div>
      <div class="row mt-5">
        <ul class="text-danger" *ngIf="validationErrors.length > 0">
          <li *ngFor="let error of validationErrors">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
