<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <app-text-input
    [formControl]="registerForm.controls['username']"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['password']"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['confirmPassword']"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['knownAs']"
    [label]="'Known As'"
  ></app-text-input>
  <app-date-input
    [formControl]="registerForm.controls['dateOfBirth']"
    [label]="'DOB'"
    [maxDate]="maxDate"
  ></app-date-input>
  <app-text-input
    [formControl]="registerForm.controls['city']"
    [label]="'City'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['state']"
    [label]="'State'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['country']"
    [label]="'Country'"
  ></app-text-input>
  <div class="form-group text-center">
    <button
      type="submit"
      name="submit"
      value="Submit"
      class="btn btn-success mr-2"
    >
      Register
    </button>
    <button
      name="Reset"
      value="Reset"
      (click)="reset()"
      class="btn btn-default mr-2 btn-reset"
    >
      Cancel
    </button>
  </div>
  <div class="row mt-5">
    <ul class="text-danger" *ngIf="validationErrors.length > 0">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>
</form>
